/* First homework */
Body {
    width: 960px;
    background-color: #ffffff
}

.header {
    margin-left: 20%;
    padding: 30px;
    width: 200px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color:#4aaaa5;
    font-size: 20px;
    font-weight: bold;  
}
.header:hover {
    background-color: rgb(190, 123, 253);
}
.button {
    background-color: #ffffff;
    margin-right: 30px;
    color: #777777;
    font-family: Georgia;
    float: right;
    font-stretch: expanded;
    font-kerning: normal;
}
a:link:hover {
    color:rgb(190, 123, 253);
}
a:link {
    text-decoration: none;
    color: #777777;
}
.pattern {
    height: 500px;
    width: 100%;  
    background: url(../images/circles-light.png);
}
.something {
    margin-top: 20px;
    padding: 20px;
    color: #4aaaa5;
    font-family: Cambria;
    margin-left: 19%;
    font-size: 20px;
}
.whitebox {
        width: 600px;
        height: 320px;
        background: #ffffff;
        border: #777777;
        display: inline;
        position: absolute;
        left: 190px;
        float: left;
    }
p {
    width: 560px;
    height: 370px;
    color: #777777;
    font-family: Calibri;
    display: block;
    position: absolute;
    left: 25px;
    top: 18px;
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.3px;
    line-height: 18px;
} 
p img{
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
    position: relative;

}
.bluebar {
    width: 100%;
    height: 7px;
    background-color: #4aaaa5; 
    position: relative;
}
.box {
    width: 960px;
    height: 100px;
    background-color: #666666;
    float: left;
    font-size: 15px;
    color: #ffffff;
    font-kerning: normal;
    display: inline;
}
.box h6 {
    text-align: center;
    position: relative;
    top: 40px;
}
.clearfix::after {
    content: "";
    clear: both;
}